body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.grid{
	padding: 2rem;
    border: 1px solid #80808059;
    box-sizing: border-box;
    float: left;
    
}
.grid a{
	text-decoration: none;
}
.grid a:hover{
	color: #fff;
}
.grid:hover{
	background-color: #000;
	color: #fff;
}
